<head></head>
<title>examples</title>
<body>
<h1>Example</h1>
<br>
<br>
<br>
<h4>you can excute the command below to upload your computer's infomation</h4>
<h4>          curl -s -L http://tianmn2109-OptiPlex-755:8000/collect | sh</h4>
<h4>also you can upload your name, computer's positon and your badge number with the option argument -s and "name="XXX";position="XXX";badge="XXX"", "name","position","badge" are optional, but they must be seperated by ';'.
<h4>
<h4>          curl -s -L http://tianmn2109-OptiPlex-755:8000/collect | sh -s "name="XXX";badge="XXX";position="XXX""</h4>
</body>
